body {
    background-color: red;

}

.window {
    background-color: rgb(255, 14, 175);
    padding: 3%;
    width: 40%;
    height: fit-content;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.50);
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
.modal {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}